.filterItem {
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 6px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.filterItem__name {
  margin-left: 6px;
  color: rgb(21, 21, 40);
}

.filterItem__count {
  font-size: 9px;
  margin-left: 3px;
  position: relative;
  bottom: 7px;
}